<ion-view view-title="Seguimiento">
  <ion-content>
   
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nit cliente</span>
        <input type="text" placeholder="nit">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre cliente</span>
        <input type="text" placeholder="Nombre">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Solicitud</span>
        <input type="text" placeholder="Solicitud">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Gestion</span>
        <input type="text" placeholder="Gestion">
      </label>
      
      <div class="button-bar">
        <a class="button" ng-click="recordAudio()">Adjuntar audio</a>
        <a class="button" ng-click="takePicture()">Imagen</a>
        <a class="button">Solicitar</a>
      </div>
      
    </div>
    
   
  </ion-content>
</ion-view>
