<ion-view view-title="Argumentos de venta">
  <ion-content>
    <h2>
        Argumentos de venta
    </h2>
    
    
    <div class="field-item even" property="content:encoded"><ul><li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Esta herramienta brinda los estándares internacionales&nbsp; de seguridad&nbsp; exigidos en el procesamiento de las transacciones electrónicas.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Ofrece diversas funcionalidades de control de acceso y operación que defina la empresa.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Plataforma integrada con los productos y servicios de las empresas del Grupo Corpbanca: Banco, Corpbanca Investment Trust, Corpbanca Comisionista de Bolsa.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Manejo de flujo de caja sin restricción de horarios.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Consultas y Movimientos en línea y en tiempo real.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Acceso por Internet desde cualquier lugar.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Soporte especializado telefónico en horario de oficina a través de Azul Line opción 2.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Posibilidad de manejar información (consultas y transacciones) de Grupos Empresariales en un solo portafolio.</span></span></li>
    </ul></div>
    
        
   
  </ion-content>
</ion-view>
