<ion-view view-title="Definicion">
  <ion-content>

    <div class="titanic_a">&nbsp;</div>

    <h2>Definicion</h2>
    
    <div class="field-item even" property="content:encoded"><p><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Azulnet es la oficina virtual del Banco Corpbanca, desarrollada sobre una plataforma tecnológica en Internet, contando con estándares de seguridad que le permiten ejecutar sus procesos de una forma integral.</span></span></p>
    <p><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">La Banca Electrónica reúne todos los servicios financieros del Grupo Corpbanca, colocándolos a disposición de la empresa, brindándole acceso inmediato a todas sus cuentas y a nuestro completo portafolio de productos y servicios para que pueda realizar consultas, transacciones&nbsp; y obtener información en línea de sus movimientos financieros.</span></span></p>
    <p><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Para conocer más sobre&nbsp;las funcionalidades de nuestro portal transaccional ingresa a Explora, u</span></span><span style="font-family:arial,helvetica,sans-serif; font-size:16px">na herramienta comercial, innovadora y moderna para apoyar la venta y capacitación de AzulNet.</span></p>
    <p><span style="font-family:arial,helvetica,sans-serif; font-size:16px">Haz clic en el siguiente vínculo:&nbsp;</span></p>
    <p><a href="http://www.exploraazulnet.com/" target="_blank">http://www.exploraazulnet.com/</a></p>
    <p>&nbsp;</p>
    </div>
    
    <h2>Transaccionales</h2>
    
    <div class="field-item even" property="content:encoded"><ul><li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Pagos de Servicios Públicos, Facturas,&nbsp; Tarjeta de Crédito y Créditos del Banco Corpbanca en moneda local.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Pagos de Nómina, Proveedores y terceros.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Solicitud de expedición de cheques de gerencia.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Transferencias de fondos entre cuentas propias y a cuentas de terceros en Banco Corpbanca.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Pagos electrónicos a través de Cámaras de Compensación (ACH, CENIT).&nbsp;</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Liquidación y pago de Seguridad Social y Parafiscales (Planilla única),&nbsp; dirigido a cualquier administradora a través de PSE.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Recaudo electrónico</span></span></li>
    </ul></div>
    
    <h2>Consultas en línea</h2>
    
    <div class="field-item even" property="content:encoded"><ul><li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Saldos, movimientos, extractos y notas contables del portafolio de productos y servicios.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Recaudos referenciados, recaudos electrónicos (débitos ACH), recaudo de adquirencia (ventas con tarjetas débito y crédito).</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Historial de pagos electrónicos:</span></span>
    <ul><li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Proveedores</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Nómina y terceros</span></span></li>
    </ul></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Saldos de productos de crédito.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Estado de cheques recibidos.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Transacciones electrónicas recibidas.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Recaudo electrónico</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Filtros de búsqueda</span></span></li>
    </ul></div>
    
    <h2>Otros Servicios</h2>

    <div class="field-item even" property="content:encoded"><ul><li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Órdenes de no pago de cheques.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Exportación de reportes a archivos Excel, archivos planos y PDF.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Carga manual o por importación de archivos para la preparación de operaciones transaccionales.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Visualización e impresión de notas contables de cuotas de créditos, funcionalidad útil para discriminar el monto de capital de los intereses.</span></span></li>
    <li><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Matriculación de direcciones e-mail para notificación de pagos a terceros.</span></span></li>
    </ul></div>
    
<style scoped>
    .titanic_a, .titanic_b, .titanic_c {
        display: block;
        height: 230px;
        background: url(img/corpbanca/Azulnet.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

 
    #scroller-view h2{
        margin: 15px 10px 0 10px;
    }

    #scroller-view img {
        -webkit-transform: translatez(0);
    }

    #scroller-view .scroller-content {
        font-weight: normal;
        height: 130px;
        margin: 15px 0;
        background-color: rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
    }
    
    .km-ios #scroller-view .km-navbar {
        background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(0.06, rgba(255, 255, 255, 0.45)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(1, rgba(100, 100, 100, 0))), url(../../content/shared/images/patterns/pattern9.png);
        background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.45) 6%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(100, 100, 100, 0)), url(../../content/shared/images/patterns/pattern9.png);
	}
	.km-tablet .km-ios #scroller-view .km-view-title {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.5);
    }
    
    .km-ios #scroller-view .km-navbar .km-button {
        background-color: rgba(0,0,0,0.2);
    }
</style>

   </ion-content>
</ion-view>
