<ion-view view-title="Funcionamiento">
  <ion-content>

    <h2>
        Proceso Vinculación Azulnet
    </h2>
    
    <h3>
        Dia 1
    </h3>
    
    <div>
    <p>1.Gerente de cuenta o Cash recibe el formato de Novedades Azulnet totalmente diligenciado y firmado, con la Cámara de Comercio vigente y la fotocopia de la cedula del representante legal.</p>
    <p>2.La persona autorizada en el Centro Empresarial realiza la solicitud de creación a la UPT a través del Work Flow de Speedy.</p>
    <p>3.La UPT realiza la validación de la documentación.</p>
    <p>4.La UPT realiza la solicitud de creación en los diferentes sistemas del Banco.</p>
    <ul><li><span style="font-size:14px">Altaír </span></li>
    <li><span style="font-size:14px">Azulnet</span></li>
    </ul><p>5.Mantenimiento Azulnet realiza la creación del portafolio con las transacciones solicitadas por el cliente.</p>
    </div>
    
    <h3>
        Dia 2
    </h3>
    
    <div>
    <p>6.Mantenimiento Azulnet genera clave de ingreso para el usuario principal. La clave es enviada automáticamente al correo electrónico diligenciado en el formato de vinculación.</p>
    <p>7.Mantenimiento Azulnet confirma la creación del portafolio a través del Work Flow de Speedy.</p>
    <p>8.El cliente activa su portafolio enviando acuse de recibo de la clave. Este proceso se puede realizar a través de AzulLine Opción 20 a través del Gerente de Cuenta o Cash.</p>
    <p>9.El cliente puede capacitarse en el uso del Portal Transaccional a través de AzulLine Opción 2 o con apoyo de la capacitación presencial según sea el caso.</p></div>
    
    <p>*El alta de un portafolio de Azulnet se realiza en un periodo máximo de 3 horas. Si la solicitud es radicada después de las 4pm, el alta se realiza al siguiente día hábil.</p>
    
    <h2>
        Proceso Novedades Azulnet
    </h2>
    
    <div>
    <p>1. Gerente de Cuenta o Cash recibe el formato de Vinculación Azulnet totalmente diligenciado y firmado.</p>
    <p>2. La persona autorizada en el Centro Empresarial realiza la solicitud de creación a la UPT a través del Work Flow de Speedy.</p>
    <p>3. La UPT realiza la validación de la documentación.</p>
    <p>4. La UPT realiza la solicitud para modificar los parámetros actuales de Azulnet.</p>
    <p>5. Mantenimiento Azulnet realiza la modificación de los parámetros del portafolio según las transacciones solicitadas por el cliente.</p>
    <p>6. Mantenimiento Azulnet confirma la modificación de parámetros del portafolio a través del Work Flow de Speedy.</p>
    <p>7. El cliente puede capacitarse en el uso del Portal Transaccional a través de AzulLine Opción 20 con apoyo de la capacitación presencial según sea el caso.</p></div>
    
    <style>
    .km-ios  .km-content {
        background: url(../../content/shared/images/patterns/pattern2.png);
        box-shadow: inset 0 0 30px #95764D;
        -webkit-box-shadow: inset 0 0 30px #95764D;
    }
    .km-ios  .km-listview .km-list {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 0 1px 5px #95764D;
        -webkit-box-shadow: 0 1px 5px #95764D;
    }
    .km-ios  .km-listview .km-list > li {
        border: none;
    }
    .km-ios  .km-listview .km-list > li:last-child {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .km-ios  .km-navbar {
        background: url(../../content/shared/images/patterns/pattern9.png);
    }
    .km-tablet .km-ios  .km-view-title {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.5);
    }
    .km-ios  .km-navbar .km-button
    {
        background-color: #974d2e;
    }

</style>

</ion-content>
</ion-view>
