<ion-view view-title="Tarifas">
  <ion-content>
    <h2>
        Tarifas
    </h2>
    
    <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><table cellpadding="0" cellspacing="0"><tbody><tr><th colspan="2"><span style="color:#666666"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Concepto</span></span></span></th>
    <th><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">&nbsp;<span style="color:#666666">$Valor</span>&nbsp;</span></span></th>
    </tr><tr><th><span style="color:#666666"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Empresas</span></span></span></th>
    <td><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Plan Único</span></span></td>
    <td class="rtecenter"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">137.000</span></span></td>
    </tr><tr><th rowspan="4"><span style="color:#666666"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Pymes</span></span></span></th>
    <td><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Plan Básico</span></span></td>
    <td class="rtecenter"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">35.400</span></span></td>
    </tr><tr><td><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Plan Estándar</span></span></td>
    <td class="rtecenter"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">43.600</span></span></td>
    </tr><tr><td><span style="font-size:16px">Plan Adquirencia</span></td>
    <td class="rtecenter"><span style="font-size:16px">20.000</span></td>
    </tr><tr><td><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Plan Premium</span></span></td>
    <td class="rtecenter"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">68.600</span></span></td>
    </tr><tr><th><span style="color:#666666"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Token</span></span></span></th>
    <td><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Plan Único</span></span></td>
    <td class="rtecenter"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">30.000</span></span></td>
    </tr></tbody></table><p><span style="font-size:16px">*Fecha actualización: 8&nbsp;de Enero de 2014</span></p>
    </div></div></div>  </div>
    
        

</ion-content>
</ion-view>
